/*/FONTES/*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*/ ESTILOS DESKTOP/*/

/*/tags/*/

header{
width: 100%;
height: 69px;
background-color: #EC362D;
color: white;
text-align: center;
font-size: 37px;
box-shadow: 0px 1px 10px 0px black;
justify-content: center;
display: flex;
align-items: center;
}

main{
width: 73%;
background-color: aquamarine;

margin-top: 77px;
margin-left: auto;
margin-right: auto;
justify-content: center;
align-items: center;
display: flex;
flex-direction: column;
}

h1{
   color: white;
   font-weight: 400;
   font-size: 19px;
   line-height: 23px; 
}

h4{
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
}

/*/tags/*/

/*/ classes /*/


/* ESTILOS DA LISTA DO QUIZZ*/
.lista_quizz img{
height: 181px;
width: 340px;
border-radius: 5px ;


}

.lista_quizz{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

/* colocar gradiente*/
.quizz{
    height: 181px;
    width: 340px;
    margin-bottom: 12px;
    margin-right: 5px;
    margin-left: 5px;
}


.nome_quizz{

position:relative;
bottom: 56px;
right: 0;
height: 53px;

text-shadow: 1px 0px 2px black;
padding-left: 17px;
padding-right: 21px;
text-justify: center;

}

/* ESTILOS LISTA DO QUIZZ */


/* ESTILOS PARA QUIZZ ABERTO */


.banner{
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
    height: 227px;
    overflow: hidden;
    top: 69px;
    position: absolute;
    width: 100%;
    /* passar isso para o js */
    background: url('https://www.crunchyroll.com/imgsrv/display/thumbnail/1200x675/catalog/crunchyroll/e3f6c36d65ba484f80e778a2c12105be.jpeg');
    background-color: rgba(0, 0, 0, 0.6);
}

.banner img{
   
    width: 100%;
}


.pergunta{
    width: 688px;
    height: 137px;
    background-color: antiquewhite;
    align-items:center;
    color: white;
    text-shadow: 1px 0px 2px black;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    display: flex;
    justify-content: center;
}


.pergunta_caixa{
    display: flex;
    width: 759px;
    height: 676px;
    flex-wrap: wrap;
    justify-content: center;
    background-color: darkgray;
}

.pergunta_caixa:nth-of-type(1){
    margin-top: 200px;
}

.option{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.option img{
    width: 330px; 
    height: 175px;
}

.option_name{
    width: 330px;
}


.selected h4{
    color: #009C22;
}

.unselected {
    opacity: 0.3;
}

.unselected h4{
    color: #FF4B4B;
}


/*/ ESTILOS QUIZ ABERTO  /*/


/*/ classes /*/