/*/FONTES/*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*/ ESTILOS DESKTOP/*/

/*/tags/*/
body, *{
    font-family: 'roboto';
    box-sizing: border-box;

}

header{
    width: 100%;
    height: 69px;
    background-color: #EC362D;
    color: white;
    text-align: center;
    font-size: 37px;
    box-shadow: 0px 1px 10px 0px black;
    justify-content: center;
    display: flex;
    align-items: center;
}

main{
    width: 73%;

    padding-top: 77px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

h1{
   color: white;
   font-weight: 400;
   font-size: 19px;
   line-height: 23px;
}

h4{
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
}


label{
    font-size: 20px;
    font-weight: 700;
}

button{
    background-color: #EC362D;
    border: none;
    border-radius: 15px;
    font-size: 21px;
    font-weight: 300;
    color: white;
    text-align: center;
    cursor: pointer;
}

input, textarea{
    border: 1px #D1D1D1 solid;
    border-radius: 5px;

    font-size: 19px;
    padding: 11px 22px;
}
input::placeholder, textarea::placeholder{
    color: #BABABA;
    font-style: italic;

}

div{
    background-color: rgba(0, 0, 0, 0);
}

/*/tags/*/
/*/ classes /*/

.corpo{
    background-color: #FAFAFA;
}

/* ESTILOS DA LISTA DO QUIZZ*/
.lista_quizz img{
    height: 181px;
    width: 340px;
    border-radius: 5px ;


}

.titulo{
    width: 100%;
    height: 35px;

    font-size: 20px;
    font-weight: 700;

    display: flex;
    align-items: center;

    margin-bottom: 12px;
}
.titulo ion-icon{
    width: 30px;
    height: 30px;

    margin-left: 17px;

    color: #EC362D;
    cursor: pointer;
}

.nenhum_quizz{
    width: 100%;
    height: 180px;

    border: 1px #D4D4D4 dashed;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

p.voltar{
    width: 250px;

    font-size: 20px;
    color: #818181;
    text-align: center;

    margin-bottom: 20px;
}

.nenhum_quizz button{
    width: 150px;
    height: 40px;
    background-color: #FAFAFA;

    border: 1px #EC362D dashed;
    border-radius: 50px;

    font-size: 21px;
    font-weight: 400;
    text-align: center;
    color: #EC362D;

}

.option_box{
    display: flex;
    width: 90.5%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.criar_quizz form, .sucesso_quizz{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.criar_quizz div{
    width: 600px;
    background-color: white;
    display: flex;
    flex-direction: column;

    margin-top: 27px;
    padding: 18px;
}

.criar_quizz input{
    width: 100%;
    height: 46px;

    margin-bottom: 9px;
}

.criar_quizz textarea{
    width: 100%;
    height: 120px;

    resize: none;
    margin-bottom: 9px;
}

.criar_quizz button{
    width: 370px;
    height: 54px;
    margin-top: 80px;
}

.criar_quizz label{
    margin-top: 14px;
    margin-bottom: 14px;
}

.sucesso_quizz div{
    width: 500px;
    height: 266px;
    background-size: cover;
    position: relative;

    background-position: center;
    border-radius: 5px;
}


.sucesso_quizz h1{
    position: absolute;
    left: 25px;
    bottom: 25px;
}

.sucesso_quizz p{
    font-size: 21px;
    color: #818181;
    text-align: center;
    margin-top: 24px;
    cursor: pointer;
}

.escondido{
    display: none !important;
}
.lista_quizz, .lista_quizz_usuario, .lista{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.lista_quizz p{
    font-weight: 700;
}

.todos{
    width: 100%;
    margin-bottom: 16px;
    margin-top: 45px;
}

/* colocar gradiente*/
.quizz{
    height: 181px;
    width: 340px;
    margin-bottom: 12px;
    margin-right: 5px;
    margin-left: 5px;

    cursor: pointer;
}
.quizz .imagem{
    height: 181px;
    width: 340px;
    background-position: center;
    background-size: cover;

}



.nome_quizz{

    position:relative;
    bottom: 56px;
    right: 0;
    height: 53px;

    text-shadow: 1px 0px 2px black;
    padding-left: 17px;
    padding-right: 21px;
    display: flex;
    align-items: center;

    word-wrap: break-word;
    overflow: hidden;
}

.nome_quizz h1{
    width: 100%;
    height: fit-content;
    max-height: 100%;
}

/* ESTILOS LISTA DO QUIZZ */


/* ESTILOS PARA QUIZZ ABERTO */


.banner{
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
    height: 227px;
    overflow: hidden;
    top: 69px;
    position: absolute;
    width: 100%;
    /* passar isso para o js */

}

.banner img{

    width: 100%;
}


.pergunta{
    width: 688px;
    height: 137px;

    align-items:center;
    color: white;
    text-shadow: 1px 0px 2px black;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
    margin-top: 25px;
}


.pergunta_caixa{
    display: flex;
    width: 759px;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
}

.pergunta_caixa:nth-of-type(1){
    margin-top: 200px;
}

.option, .opt0, .opt1, .opt2, .opt3{
    width: 50%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.option img, .opt0 img, .opt1 img, .opt2 img, .opt3 img{
    width: 330px;
    height: 175px;
}

.option_name{
    width: 330px;
    word-wrap: break-word;
}


#correta .selected h4{
    color: #009C22;
}

#correta .unselected h4{
    color: #009C22;
}

.unselected {
    opacity: 0.3;
}

#incorreta .selected h4{
    color: #FF4B4B;
}

.unselected #incorreta  h4{
    color: #FF4B4B;
}

.caixa_resultado{
    width: 759px;
    height: 430px;
    background-color: white;
    display: flex;
    padding-top:18px ;
    padding-left:18px ;
    padding-right: 14px;
    flex-direction: column;
 
}

.reiniciar_quizz{
    width: 260px;
    height: 52px;
}

.resultado_header{
    width:727px ;
    height: 99px;
    background-color:#EC362D /*entrada do usuário retirar*/ ;
    box-sizing: border-box;
    color: white;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_row{
    height: 273px;
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
    margin-top: 16px;
}

.resultado_img{
    width: 364px;
    height: 273px;

}

.resultado_img img{
    width: 364px;
    height: 273px;

}

.resultado_text{
    width:328px ;
    height: 250px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow:none;
}

.resultado_text p{
    font-weight: 700;
    font-size: 19px;
    line-height: 25px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.reiniciar_quizz{
    margin-top: 34px;
    margin-bottom: 16px;
}
/*/ ESTILOS QUIZ ABERTO  /*/


/*/ classes /*/


/*/ Interface mobile / */

@media (max-width: 1100px){

    main{
        width: 100%;
        align-items: center;
        justify-content: center;
        justify-items: center;
        align-content: center;
    }

    .lista_quizz{
        margin-left: 15px;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .lista_quizz_usuario{
        align-items: center;
        justify-content: center;
    }

    .todos {
        width: 341px;
        
    }

   

    .pergunta{
        width: 90.5%;
        background-color: #FF4B4B /* vem da api, retirar*/;
    }

    .pergunta_caixa{
        width: 100%;
        height: auto;
        align-items: center;
        margin-bottom: 46px;
    }

    .option img, .opt0 img, .opt1 img, .opt2 img, .opt3 img{
       height: auto;
        width: 100%;
    }

    .option_box{
        margin-top: 46px;
        padding-bottom: 35px;
        margin-bottom: 35px;

    }

    .option, .opt0, .opt1, .opt2, .opt3{
        justify-content: flex-start;
        width: 47.5%;

    }

    .option_name{
        width: 100%;
        word-wrap: break-word;
        overflow: none;
    }

    .caixa_resultado{
        width:100%;
        padding: 0px;
        align-items: center;
        height:auto;
    }

    .resultado_header{
        width:90.5%;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .resultado_img{
        width: 100%;
        height: auto;
        margin-bottom: 9px;
    }

    .resultado_img img{
        width: 100%;
        height: auto;
    }

    .resultado_text{
        width: 100%;
    }

    .container_row{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: auto;
        width: 90.5%;
        margin-top: 16px;
    }



}